[submodule "benchmark"]
	path = benchmark
	url = git@github.com:google/benchmark.git
[submodule "viper_test/viper"]
	path = viper_test/viper
	url = git@github.com/hpides/viper.git
[submodule "viper_test/concurrentqueue"]
	path = viper_test/concurrentqueue
	url = git@github.com/cameron314/concurrentqueue.git
[submodule "gtest"]
	path = gtest
	url = git@github.com/google/googletest.git
